<div class="row" style="height: 100vh;">
    <div class="col left">
        <div class="heading">
            Account Statement
        </div>
        <div class="date">
            monday,july 10,2023
        </div>
        <div class="buttons btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-dark">All</button>
            <button type="button" class="btn btn-outline-dark">Debit</button>
            <button type="button" class="btn btn-outline-dark">Credit</button>
        </div>
        <div class="tabledata">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="butt">
            <button type="button" class="btn btn-info">Export As  <i class="fa-regular fa-file-pdf"></i></button>
        </div>
    </div>
    <div class="col right">
        <div class="accimage">
            <img src="https://i.postimg.cc/G2QKZ6Ck/accounting-gec86d8d48-1280.jpg" alt="" style="width: 500px; height: 400px; padding-top: 20px;margin-left: 100px;">
        </div>
        <div class="homebutt">
            <button type="button" class="btn btn-info" style="margin-left: 300px;margin-top: 50px;">Home <i class="fa-solid fa-house"></i></button>
        </div>
    </div>
</div>
